<div>
  <h2 class="header">k 网站参数已设置成</h2>
  <div class="monitor">
    <div class="clearfix" style=" width: 400px;margin:0 auto;">
      <ul class="content" style="float:none">
        <li>
          <%= @cpanel_site_config.value.html_safe %>
        </li>
        <li style="margin-top: 1em">
          <button class="submitbutton" onclick="window.history.go(-2);return false;">确 定</button>
        </li>
      </ul>
    </div>
  </div>
</div>
