<div class="ipacro-postcontent ipacro-postcontent-0 clearfix">
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width:100%">
        <h6>
          当前位置：<%=link_to '我们的服务', service_path%>><%= @service.title%>
        </h6>
      </div>
    </div>
  </div>
  <div class="ipacro-content-layout" style="margin-top:10px;">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width: 25%" >
        <%= render partial:'common/services/service_left'%>
      </div>
      <div class="ipacro-layout-cell layout-item-0" style="width: 75%" >
        <div class="layout-item-2">
          <%= @service.content %>
        </div>
      </div>
    </div>
  </div>
</div>