<div>
  <% if @slide.nav_type %>
    <h2 class="header">b 修改图片</h2>
  <% else %>
    <h2 class="header">b 修改图片轮播</h2>
  <% end %>
  <div class="monitor">
    <div class="clearfix">
      <%= render 'form' %>
    </div>
  </div>
</div>

<!-- 
<%= link_to 'Show', cpanel_slide_path(@slide) %> |
<%= link_to 'Back', cpanel_slides_path %> -->
