
<div data-role="footer" data-position="fixed">
  <div data-role="navbar" >
    <ul>
      <li><%= link_to t('about'), mobile_about_path %></li>
      <li><%= link_to t('services'), mobile_services_path %></li>
      <li><%= link_to "positions", mobile_positions_path %></li>
      <li><%= link_to "contact", mobile_contact_path %></li>
    </ul>
  </div>
  <h6>Copyright &copy; IPA-CRO</h6>
</div>