  <div class="hot-img" id="hot-img" >
    <div class="swiper-wrapper">
      <div class="swiper-slide" hot-title="《雷霆战机》魔龙壁垒和月光之轮哪个好？ 对比详情公布">
        <a href="detail.html">
          <img src="http://img.douxie.com/upload/image/i9c/fqx/BeiloRB5ntJ66ru7Sohu.jpg" title="《雷霆战机》魔龙壁垒和月光之轮哪个好？ 对比详情公布" alt="《雷霆战机》魔龙壁垒和月光之轮哪个好？ 对比详情公布">
        </a>
        <div class="hot-title-box">
          <h2>《雷霆战机》魔龙壁垒和月光之轮哪个好？ 对比详情公布</h2>
        </div>
      </div>
      <div class="swiper-slide" hot-title="《全民英雄》Boss卡超值礼包限时促销 充值返魔钻活动介绍">
        <a href="detail.html"><img src="http://img.douxie.com/upload/image/ydt/zb7/k3agGqcB0DCsLQFVGNMZ.jpg" title="《全民英雄》Boss卡超值礼包限时促销 充值返魔钻活动介绍" alt="《全民英雄》Boss卡超值礼包限时促销 充值返魔钻活动介绍"></a>

        <div class="hot-title-box">
          <h2>《全民英雄》Boss卡超值礼包限时促销 充值返魔钻活动介绍</h2>
        </div>
      </div>
      <div class="swiper-slide" hot-title="《天天飞车》R车涡轮火狐征服者半价活动详情">
        <a href="detail.html"><img src="http://img.douxie.com/upload/image/thc/vs0/JZeFYNksL8Zgzn0GXIwS.jpg" title="《天天飞车》R车涡轮火狐征服者半价活动详情" alt="《天天飞车》R车涡轮火狐征服者半价活动详情"></a>
        <div class="hot-title-box">
          <h2>《天天飞车》R车涡轮火狐征服者半价活动详情</h2>
        </div>
      </div>
      <div class="swiper-slide" hot-title="《全民飞机大战》光电魔球满级属性及满级技能介绍 七月新宠登场">
        <a href="detail.html"><img src="http://img.douxie.com/upload/image/rov/9x6/JpeEKtSNz4xr5RM3Wyyv.jpg" title="《全民飞机大战》光电魔球满级属性及满级技能介绍 七月新宠登场" alt="《全民飞机大战》光电魔球满级属性及满级技能介绍 七月新宠登场"></a>
        <div class="hot-title-box">
          <h2>《全民飞机大战》光电魔球满级属性及满级技能介绍 七月新宠登场</h2>
        </div>
      </div>
      <div class="swiper-slide" hot-title="《天天酷跑》烈焰甜心解锁获取方式揭秘">

        <a href="detail.html"><img src="http://img.douxie.com/upload/image/bqh/smq/HL6H2TGQgwjl4JzgetHK.jpg" title="《天天酷跑》烈焰甜心解锁获取方式揭秘" alt="《天天酷跑》烈焰甜心解锁获取方式揭秘"></a>

        <div class="hot-title-box">

          <h2>《天天酷跑》烈焰甜心解锁获取方式揭秘</h2>

        </div>

        </div>

              <div class="swiper-slide" hot-title="《天天飞车》S车天际属性技能介绍 10倍成功率登录幸运点夺宝">

        <a href="detail.html"><img src="http://img.douxie.com/upload/image/n49/kln/hrg8w8NGhwWjZKZRbymn.png" title="《天天飞车》S车天际属性技能介绍 10倍成功率登录幸运点夺宝" alt="《天天飞车》S车天际属性技能介绍 10倍成功率登录幸运点夺宝"></a>

        <div class="hot-title-box">

          <h2>《天天飞车》S车天际属性技能介绍 10倍成功率登录幸运点夺宝</h2>

        </div>

        </div>

        </div>

    <div class="hot-btn-box"></div>
  </div>