<div data-role="panel" id="thepanel" data-display="overlay" data-position-fixed="true" >
    <!-- panel content goes here -->
  <ul data-role="listview">

    <h1>dapja</h1>
<a href="#" data-role="button" data-rel="close" data-iconpos="notext" data-icon="delete" class="ui-btn-right">sss</a>
    <li><a href="#anylink">首页</a></li>
    <li><a href="#anylink">关于我们</a></li>
    <li><a href="#anylink">我们的服务</a></li>
    <li><a href="#anylink">资讯发布</a></li>
    <li><a href="#anylink">联系我们</a></li>
  </ul>
</div>