<div data-role="header" data-position="fixed" class="ui-nodisc-icon">
  <h1 style="color:#eee;letter-spacing:1.1px;text-shadow:none">IPA-CRO</h1>
  <a data-icon="bars" data-iconpos="notext" style="background-color:#3991e5;border-color:#2981d5" href="#thepanel"></a>
</div>