<div class="bottom-nav">
  <div class="nav-box">
  <a href="index.html" title="首页">首页</a>
  </div>
  <div class="nav-box">
  <a href="list.html" title="攻略">攻略</a>
  </div>
  <div class="nav-box">
  <a href="list.html" title="问答">问答</a>
  </div>
  <div class="nav-box">
  <a href="list.html" title="资讯">资讯</a>
  </div>
  </div>
<div class="footer">
  <a onClick="createCookie('no_auto_fit', 'on', 0.04, 'douxie.com')" href="index.html" class="pc">电脑版</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#">返回顶部<span class="totop"></span></a>
</div>