<link href="/css/mobile/swiper.min.css" rel="stylesheet" />

<style>
  .swiper-container {
      width: 98%;
      height: auto;
      min-height: 110px;
      margin: 10px auto;
  }
  .swiper-wrapper{
    position:absolute;
    height:100%;
  }
  .swiper-slide {
      /*text-align: center;*/
      font-size: 18px;
      background: #797;
      height: 100%;
  }
  .swiper-slide p{
    margin: 5px;
    padding:5px;
    color:#5E8523;
    font-weight: bold;
    text-shadow: none;
  }
  .swiper-slide p:nth-child(2){
    margin-left:15px;
    font-size:0.75em;
  }
</style>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <% @slides.each do |slide| %>
      <% if slide.picture && slide.picture.avatar %>
        <div class="swiper-slide" style="background-image: url(<%= slide.picture.avatar.url(:medium) %>);background-size:100% 100%">
          <p><%= slide.title %> </p>
          <p><%= slide.sub_title %></p>
        </div>
      <% end %>

    <% end %>
  </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>

<script src="/js/mobile/swiper.min.js"></script>
<script>
$(document).ready(function(){
  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    autoplay: 2000,
    autoplayDisableOnInteraction: false,
    speed: 650,
    loop: true
  });
})
</script>