<!-- <link href="/js/mobslider/css/reset.css" rel="stylesheet" />
<link href="/js/mobslider/css/style.css" rel="stylesheet" /> -->
<script src="/js/mobslider/js/jquery.excoloSlider.js"></script>
<link href="/js/mobslider/css/jquery.excoloSlider.css" rel="stylesheet" />
<script>
  // Settings for Adaptive.js
  var ADAPT_CONFIG = {
    path: '/js/mobslider/css/',
    dynamic: true,
    range: [
      '0px    to 760px  = mobile.min.css',
      '760px  to 980px  = 720.min.css',
      '980px            = 960.min.css'
    ]
  };
</script>
<script src="/js/mobslider/js/adapt.min.js"></script>
<script>
  $(function () {
    $("#sliderA").excoloSlider();
    //$("#sliderB").excoloSlider();
});
</script>

<div id="sliderA" style="width:90%;margin:0 auto">
  <!-- <div style="background-color: #ff7500"><h2>First slide</h2></div>
  <div style="background-color: #b6ff00"><h2>Second slide</h2></div>
  <div style="background-color: #00ff05"><h2>Third slide</h2></div>
  <div style="background-color: #00d8ff"><h2>Fourth slide</h2></div>
  <div style="background-color: #8000ff"><h2>Fifth slide</h2></div>
  <div style="background-color: #ff008d"><h2>Sixth slide</h2></div> -->
  <% @slides.each do |slide| %>
  <% if slide.picture && slide.picture.avatar %>
    <div id="theslide">
      <img src="<%= slide.picture.avatar.url(:thumb) %>" />
      <div><%= slide.title %></div>
      <div><%= slide.sub_title %></div>
    </div>
    <% end %>
  <% end %>
</div>