
<div class="ipacro-content-layout">
  <div class="ipacro-content-layout-row">
    <div class="ipacro-layout-cell layout-item-0" style="width: 40%" >
      <iframe scrolling="no" src="/map.html" style="width:100%;height:310px">
      </iframe>
    </div>
    <div class="ipacro-layout-cell layout-item-0" style="width: 60%;padding:10px" >
      <%= @contact_locale.html_safe %>
    </div>
    <br />
  </div>
</div>