
<p><%= @contact_cn %></p>
<div class="ipacro-content-layout">
  <div class="ipacro-content-layout-row">
    <div class="ipacro-layout-cell layout-item-0" style="width: 40%" >
      <iframe scrolling="no" src="/map.html" style="width:100%;height:310px">
      </iframe>
    </div>
    <div class="ipacro-layout-cell layout-item-0" style="width: 60%;padding:10px" >
      <p><span style="font-weight: bold;">Curae dolor sed vitae imperdiet donec lacus felis adipiscing suscipit phasellus diam viverra nunc.</span></p>
      <p>Placerat sit vestibulum nunc nisi netus vitae inceptos. Dapibus massa pretium purus euismod nec a laoreet ligula vel nunc consectetuer vestibulum iaculis urna orci ac. Et rutrum sed non aliquam dui ante quam ante tellus quis enim sit. A laoreet et nam suscipit. Accumsan fusce feugiat a ut vitae eget vivamus justo nibh lorem. Vulputate at lacus placerat rutrum posuere.</p>
      <p align="right">
        <a href="#" class="ipacro-button">More...</a>
      </p>
    </div>
  </div>
</div>