<div class="slidebar">
  <div class="logo">
    <a href=""></a>
  </div>
  <ul>
    <li class="active"><a href="/cpanel" id="targeted">c 控制台首页</a></li>
    <li><a href="/cpanel/about">e 公司简介管理</a></li>
    <li><a href="/cpanel/slides">b 图片轮播管理</a></li>
    <li><a href="/cpanel/news">d 咨询发布管理</a></li>
    <li><a href="/cpanel/contact">k 联系我们配置</a></li>
    <li><a href="/cpanel/activities">h 员工园地管理</a></li>
    <li><a href="/cpanel/positions">g 职位招聘管理</a></li>
    <li><a href="/cpanel/">k 网站参数配置</a></li>
    <li><a href="/cpanel/users">i 修改管理员密码</a></li>
  </ul>
</div>