<style type="text/css">
  li.picthumb{
    list-style:none;
    float:left;
    min-width:150px;
    min-height:150px;
    margin:5px 5px;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid silver;
  }
</style>
<div>
  <h2 class="header">b 图片库管理</h2>
  <div class="monitor">
    <div class="clearfix">
      <div style="border:1px solid rgb(235,235,235);margin: 10px 40px;border-radius:5px;height:400px;overflow-y:scroll">
        <% @pictures.each do |picture| %>
          <div style="width:auto;height:auto;overflow:hidden;float:left;position:relative;margin:5px 15px;padding:1px 1px !important;">
            <img src="<%= picture.avatar.url%>" style="width:auto;height:auto;max-width:300px;max-height:300px">
            <%= link_to 'X', cpanel_picture_path(picture), method: :delete, data: { confirm: '确定要删除图片吗' },class:'submitbutton',style:'position:absolute;top:2px;right:3px;padding:1px 10px;text-decoration:none'%>
          </div>
        <% end %>
      </div>
      <li style="text-align:center">
        <%= link_to '上传新图片', new_cpanel_picture_path,class:'submitbutton' %>
      </li>
    </div>
  </div>
</div>
