<div >
  <h2 class="header">q 服务项目管理</h2>
  <div class="monitor quick-press">
    <div class="clearfix">
      <div style="min-height:40px;line-height:40px;"> 
        <span style="margin-left:30px">服务项目列表</span>
        <span class="submitbutton" style="font-family: 'icomoon';margin-left:150px">
        <%= link_to 'q 添加服务',new_cpanel_service_path %>
        </span>
      </div>
        <ul>
        <% @services.each do |service| %>
          <li>
            <%= link_to service.title, edit_cpanel_service_path(service) %>
            <%= link_to 'X  删除', cpanel_service_path(service), method: :delete, data: { confirm: '确定要删除这条记录吗？' }, class:'submitbutton' %>
          </li>
        <%end%>
        </ul>
    </div>
  </div>
</div>