<div>
  <h2 class="header">q 服务项目管理</h2>
  <div class="monitor">
    <div class="clearfix">
      <div style="border:1px solid rgb(235,235,235);margin: 10px 40px;border-radius:5px;height:auto;overflow:hidden">
        <ul style="width:100%">
        <li style="font-family: 'icomoon'">
          <%= link_to 'q 添加服务',new_cpanel_service_path,style:'color:#fff;text-decoration:none;font-size:14px;padding:10px;',class:'submitbutton' %>
        </li>
        <% @services.each do |service| %>
          <li>
            <%= link_to service.title, edit_cpanel_service_path(service) %>
            <span style="position: absolute;right:340px">
            <%= link_to 'X  删除', cpanel_service_path(service), method: :delete, data: { confirm: '确定要删除这条记录吗？' }, class:'submitbutton' %>
            </span>
          </li>
        <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>