<div class="ipacro-postcontent ipacro-postcontent-0 clearfix">
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width:100%;height:140px;background-image:url(http://tigermed.net/images/zx.jpg);background-size:100%;" >
      </div>
    </div>
  </div>
  <div class="ipacro-content-layout" style="margin-top:10px;">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width: 33%" >
        <h3>公司快讯</h3>
        <ul>
          <% @news.each do |news| %>
            <li style="font-size:1.1em">
              <%= link_to news.title, news %>
            </li>
          <%end%>
        </ul>
      </div>
      <div class="ipacro-layout-cell layout-item-0" style="width: 33%" >
        <h3>重大新闻</h3>
        <br><br>Amet leo nulla dictum auctor a nulla eu nisl augue nam. Magna etiam lobortis erat metus nibh molestie vestibulum primis consequat aenean eros mi mollis eu vestibulum. Tincidunt sagittis ligula aenean vel posuere.
      </div>
      <div class="ipacro-layout-cell layout-item-0" style="width: 33%" >
        <h3>参考新闻</h3>

        <br><br>Amet leo nulla dictum auctor a nulla eu nisl augue nam. Magna etiam lobortis erat metus nibh molestie vestibulum primis consequat aenean eros mi mollis eu vestibulum. Tincidunt sagittis ligula aenean vel posuere.
      </div>
    </div>
  </div>
</div>