* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  font-family: "Microsoft YaHei", "SimSun", "";
}
ul li {
  list-style-type: none;
}
a {
  color: #555;
  text-decoration: none;
}
.mt10 {
  margin-top: 10px !important;
}
.mt12 {
  margin-top: 12px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
.hr {
  height: 1px;
  font-size: 0px;
  overflow: hidden;
  line-height: 1px;
  background-color: #d4d4d4;
  width: 93%;
  margin: 12px auto 0;
}
.header {
  width: 100%;
  height: 49px;
  border-bottom: 1px solid #2f73b2;
  background-color: #3991e5;
}
.header .wap-logo {
  float: left;
  display: block;
  width: 150px;
  height: 30px;
  margin: 10px 0 0 10px;
  position: relative;
  z-index: 1;
}
.header .wap-logo img {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: auto;
}
.header .wap-logo .logo-txt {
  position: absolute;
  z-index: 2;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}
.common-header {
  height: auto;
}
.common-header .header-box {
  position: relative;
  height: 49px;
  border-bottom: 1px solid #2f73b2;
  background-color: #3790e2;
}
.common-header .header-box .header-left {
  float: left;
  width: 24px;
  height: 15px;
  margin-left: 20px;
  margin-top: 8px;
  font-size: 24px;
  color: #7cbfff;
}
.common-header .header-box .header-center {
  position: absolute;
  left: 42%;
  margin-left: -85px;
  width: 180px;
  line-height: 49px;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}
.common-header .header-box .header-center .yuan {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #9bceff;
}
.common-header .header-box .header-center a {
  color: #fff;
}
.common-header .header-box .header-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25%;
  text-align: center;
  height: 49px;
  line-height: 49px;
  font-size: 16px;
  color: #fff;
  border-left: 1px solid #4877a2;
  border-bottom: 1px solid #4877a2;
}
.common-header .header-box .header-right a {
  display: block;
  background-color: #76a5d1;
  border-left: 1px solid #88b0d6;
  color: #fff;
}
.common-header .header-box .header-right span {
  display: inline-block;
  color: #c4dcf3;
}
.common-header .common-nav {
  display: none;
  height: 49px;
  border-bottom: 1px solid #2f73b2;
  background-color: #378fe1;
}
.common-header .common-nav .common-nav-box {
  float: left;
  width: 33%;
  height: 49px;
  line-height: 49px;
  text-align: center;
}
.common-header .common-nav a {
  display: block;
  width: 33%;
  height: 49px;
  line-height: 49px;
  float: left;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.common-header .common-nav a.first {
  padding-left: 1%;
}
.common-header .common-nav a.last {
  border-right: 0px;
}
.common-header .common-nav a:hover {
  
}
.common-header .common-nav a:active {
  background-color: #8db7de;
}
.nav {
  width: 100%;
  height: 50px;
}
.nav .nav-box {
  float: left;
  width: 33%;
  height: 49px;
  overflow: hidden;
  border-bottom: 1px solid #d5d5d5;
  text-align: center;
}
.nav .nav-box:nth-child(2){width: 34%;}
.nav .nav-box a {
  display: block;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  border: 1px solid #d5d5d5;
  border-bottom: 0px;
  border-top-color: #fcfcfc;
  border-left-color: #fcfcfc;
  background-color: #f4f4f4;
}
.nav .nav-box a:active {
  background-color: #eee;
}
.nav .nav-box a:hover {
  background-color: #eee;
}
.list-wrap .list-row {
  display: block;
  position: relative;
  margin-bottom: 4px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.list-wrap .list-row p {
  width: 90%;
  padding-left: 10px;
  height: 30px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-wrap .list-row .list-row-more {
  position: absolute;
  top: 0px;
  right: 10px;
  height: 30px;
  font-weight: bold;
}
.list-wrap .list-row:hover {
  height: 28px;
  line-height: 28px;
  background-color: #f0f0f0;
  border: 1px solid #d4d4d4;
  border-left: 0px;
  border-right: 0px;
}
.list-wrap .list-row:active {
  height: 28px;
  line-height: 28px;
  background-color: #f0f0f0;
  border: 1px solid #d4d4d4;
  border-left: 0px;
  border-right: 0px;
}
.more-box {
  display: block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #555;
  font-size: 13px;
  background-color: #f0f0f0;
  border: 1px solid #d4d4d4;
  border-left: 0px;
  border-right: 0px;
  margin-top: 13px;
}
.more-box span {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  margin-left: 3px;
  width: 14px;
  height: 12px;
  background: url(../images/more_ico.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.list-game {
  margin-top: 10px;
}
.list-game:after {
  content: " ";
  display: block;
  height: 0px;
  line-height: 0px;
  overflow: hidden;
  clear: left;
}
.list-game .list-game-row {
  float: left;
  width: 50%;
  height: 34px;
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-game .list-game-row span {
  font-size: 12px;
  color: #888;
  padding-left: 10px;
}
.list-game .list-game-row a {
  color: #555;
  font-size: 14px;
}
.title-wrap {
  height: 28px;
  line-height: 28px;
  background-color: #fce7e0;
  border: 1px solid #d4d4d4;
  color: #ff3c00;
  font-size: 14px;
  padding-left: 10px;
  margin-top: 20px;
  font-weight: bold;
}
.bottom-nav {
  width: 100%;
  height: 50px;
}
.bottom-nav .nav-box {
  float: left;
  width: 25%;
  height: 48px;
  overflow: hidden;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  text-align: center;
}
.bottom-nav .nav-box a {
  display: block;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  border: 1px solid #d5d5d5;
  border-bottom: 0px;
  border-top-color: #fcfcfc;
  border-left-color: #fcfcfc;
  background-color: #f4f4f4;
}
.bottom-nav .nav-box a:active {
  background-color: #eee;
}
.bottom-nav .nav-box a:hover {
  background-color: #eee;
}
.bottom-nav .last a {
  border-right: 0px;
}
.footer {
  height: 50px;
  background-color: #f6f6f6;
  text-align: center;
  font-size: 14px;
  color: #666;
  line-height: 50px;
}
.footer .pc {
  color: #ff5a00;
}
.footer .totop {
  display: inline-block;
  width: 13px;
  height: 15px;
  background: url(../images/totop_ico.jpg);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.list-box {
  margin-top: 12px;
}
.content-box {
  width: 92%;
  margin: 12px auto 0;
  overflow:hidden;
}
.content-box .game-title {
  font-size: 17px;
  color: #333;
  line-height: 30px;
  text-align: center;
}
.content-box .game-info-box {
  text-align: center;
  font-size: 12px;
  color: #888;
  line-height: 25px;
}
.content-box .video-box {
  display: block;
  width: 200px;
  height: 37px;
  margin: 10px auto 0;
  border-radius: 2px;
  border: 1px solid #e9592d;
  background-color: #fb6a3d;
  color: #fff;
  font-size: 17px;
  line-height: 37px;
  text-align: center;
}
.content-box .video-box .video-ico-box {
  font-family: "黑体";
  vertical-align: top;
  margin-top: 5px;
  display: inline-block;
  width: 58px;
  height: 27px;
  line-height: 29px;
  font-size: 20px;
  border-radius: 2px;
  border: 1px solid #c2502d;
  background-color: #db542a;
  color: #f6d4ca;
  box-shadow: 0px 1px #e76220 outset;
  overflow: hidden;
}
.content-box .content {
  line-height: 29px;
  padding-top: 12px;
  text-align:left;
}
.content-box .content.folded {
  height:500px;
  overflow:hidden;
}
.content-box .content img,.content-box .content iframe {
    margin: 0 auto;
    display: block;
}
.content-box .content img {
    max-width:100%;
}
.content-box .content .js_img_zoom {
    position:relative;
    display:inline-block;
    margin-top:10px;
    margin-bottom:10px;
    cursor:pointer;
}
.content-box .content .js_img_zoom.expended {
    cursor:default;
}
.content-box .content .js_img_zoom .icon_zoom {
    position:absolute;
    bottom: 5px;
    right: 5px;
    width: 17px;
    height: 14px;
    background: url(../images/fdj.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}


.content-box .content .small-img {
  position: relative;
  display: block;
  margin: 10px auto;
  width: 209px;
  height: 85px;
}
.content-box .content .small-img img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
.content-box .content .small-img .fdj {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 17px;
  height: 14px;
  background: url(../images/fdj.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.content-box .content .big-img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 133px;
  padding: 10px 0;
}
.content-box .content .big-img img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
.content-box .content .big-img .fdj {
  display: none;
}
.pages {
  width: 90%;
  height: 68px;
  margin: 0px auto;
  line-height: 34px;
}
.pages div {
  height: 34px;
  font-size: 14px;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
}
.pages div a {
  color: #555;
}
.game_one_info_div {
  overflow: hidden;
  width: 300px;
  margin: 0px auto;
}
.game_one_info_div a {
  text-decoration: none;
  color: #333;
}
.game_one_info_div .one_game_title {
  height: 33px;
  font-size: 18px;
  line-height: 33px;
  font-weight: bold;
}
.game_one_info_div .left_div {
  width: 205px;
  margin-right: 0px;
  min-width: 195px;
}
.game_one_info_div .left_div .one_game_img {
  margin-top: 2px;
  width: 80px;
  margin-right: 5px;
  overflow: hidden;
}
.game_one_info_div .left_div .one_game_img img {
  width: 80px;
  height: 110px;
}
.game_one_info_div .left_div .one_game_info {
  width: 115px;
}
.game_one_info_div .left_div .game_xq {
  font-size: 12px;
  width: 115px;
  height: 15px;
  margin-top: 7px;
  overflow: hidden;
  line-height: 15px;
  white-space: nowrap;
}
.game_one_info_div .right_div {
  width: 90px;
}
.game_one_info_div .right_div .one_game_video {
  position: relative;
  height: 67px;
  margin-top: 21px;
  border: 1px solid #1e1e1e;
  overflow: hidden;
  z-index: 1;
}
.game_one_info_div .right_div .one_game_video iframe {
  position: absolute;
  z-index: 10;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 69px;
}
.game_one_info_div .right_div p {
  font-size: 10px;
  text-align: center;
  line-height: 20px;
}
.game-imgs {
  width: 300px;
  margin: 10px auto 0;
  overflow: hidden;
}
.game-imgs h2 {
  font-size: 15px;
  color: #333;
  height: 35px;
  line-height: 35px;
  text-align: left;
  overflow: hidden;
}
.game-imgs .swiper-wrapper {
  width: 300px;
  height: 148px !important;
  overflow: hidden;
}
.game-imgs .swiper-wrapper .swiper-slide {
  height: 148px !important;
}
.game-imgs .game-img-box {
  width: 300px;
  height: 148px;
  overflow: hidden;
}
.game-imgs .game-img-box .one-img {
  position: relative;
  float: left;
  width: 300px;
  overflow: hidden;
  font-size: 13px;
}
.game-imgs .game-img-box .one-img .num-box {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 58px;
  height: 24px;
  line-height: 24px;
}
.game-imgs .game-img-box .one-img .num-box .img-ico {
  display: inline-block;
  width: 14px;
  height: 10px;
  background: url(../images/img_ico.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.game_jianjie {
  width: 90%;
  margin: 0px auto;
}
.game_jianjie h2 {
  font-size: 16px;
  color: #333;
  height: 35px;
  line-height: 35px;
  text-align: left;
  overflow: hidden;
}
.game_jianjie .con {
  font-size: 14px;
  color: #555;
  line-height: 29px;
  overflow: hidden;
}
.game_jianjie .con.folded {
    max-height: 261px;
}
.game_jianjie .fold-btn {
  float: right;
  display: block;
  margin-top: 10px;
  width: 75px;
  height: 33px;
  font-size: 15px;
  line-height: 33px;
  text-align: center;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  color: #888;
  background: #f1f1f1;
  background: -webkit-gradient(linear, 0 0, 0 100, from(#f9f9f9), to(#f1f1f1));
  background: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
}
.h2 {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  color: #333;
}
.page404{
  height:400px;
  line-height:400px;
  text-align:center;
  font-size:28px;
  color:#333;
}
