<script type="text/javascript">
  $(document).ready(function() {
      // Animate the scroll to top
      $('.go-top').click(function(event) {
        event.preventDefault();
        $('html, body').animate({scrollTop: 0}, 300);
      })
    });
</script>
<div class="ipacro-content-layout">
  <div class="ipacro-content-layout-row">
    <p class="go-top" style="float:right;margin:5px 50px">
      <a class="ipacro-button" style="height:2.5em;line-height:2.5em"><%=t('totop')%></a>
    </p>
  </div>
</div>