<script type="text/javascript">
  $(document).ready(function() {
      // Animate the scroll to top
      $('.go-top').click(function(event) {
        event.preventDefault();
        $('html, body').animate({scrollTop: 0}, 300);
      });
    });
  $(document).ready(function(){
  $(document).on('scroll', function(){
    $('.go-top').toggleClass('visible',$(document).scrollTop()>=100);
  })
});
</script>

<span class="go-top unseen" style="float:right;margin:5px 50px">
  <a class="ipacro-button" style="height:2.5em;line-height:2.5em"><%=t('totop')%></a>
</span>
<span style="float:left;margin:5px 100px">
 <a class="ipacro-button" style="height:2.5em;line-height:2.5em" onclick="window.history.go(-1)"><%=t('Back')%></a>
</span>