<div>
  <h2 class="header">t 友情链接管理</h2>
  <div class="monitor">
    <div class="clearfix">
      <div style="min-height:40px;line-height:40px;"> 
        <li style="margin:0 30px;float:left">友情链接列表</li>
        <li style="font-family: 'icomoon'">
        <%= link_to 'q 添加', new_cpanel_partner_path, style:'color:#fff;text-decoration:none;font-size:14px;float:right;margin:0 30px;padding:1px 5px',class:'submitbutton' %>
        </li>
      </div>
      <div style="border:1px solid rgb(235,235,235);margin: 10px 40px;border-radius:5px;height:auto;overflow:hidden">
        <ul style="width:100%">
        <% @partners.each do |partner| %>
          <li>
            <%= image_tag(partner.avatar.url(:tile)) %>
            <%= link_to partner.name + " http://" + partner.url, edit_cpanel_partner_path(partner) %>
            <span style="right:350px">
            <%= link_to 'X  删除', cpanel_partner_path(partner), method: :delete, data: { confirm: '确认要删除这条链接吗？' }, class:'submitbutton' %>
            </span>
          </li>
        <%end%>
        </ul>
        
      </div>
    </div>
  </div>
</div>