<style type="text/css">
  .partners{
    width:100px;
    height:45px;
    overflow:hidden;
    float:left;
    border:solid 1px #eee;
    border-radius:5px;
    box-shadow:0 0 10px #558;
    margin:5px 10px;
    position:relative;
  }
</style>
<span style="float:left;margin:18px 15px;font-size:1.2em"><%=t('partners')%></span>
<% Partner.all.each do |partner| %>
  <div class="partners">
    <img src="<%= partner.avatar.url(:tile) %>" width="100%" height="100%";style="float:left">
    <a href="<%="http://"+partner.url%>" target="_blank" style="display:block;position:absolute;width:100%;height:100%;top:0">
      
    </a>
  </div>
<% end %>