<style type="text/css">
  .partners{
    width:125px;
    height:50px;
    overflow:hidden;
    float:left;
    border:solid 1px #eee;
    border-radius:5px;
    box-shadow:0 0 10px #558;
    margin:5px 10px;
  }
</style>
<span style="float:left;margin:18px 15px;font-size:1.2em"><%=t('partners')%></span>
<% Partner.all.each do |partner| %>
  <div class="partners">
    <a href="<%="http://"+partner.url%>" target="_blank" style="display:block;">
      <img src="<%= partner.avatar.url(:tile) %>" style="margin:0;padding:0;width:100%">
    </a>
  </div>
<% end %>