<div style="display:table-row">
<span style="font-size:1.2em;line-height:1.2em;float:left;margin-right:20px;vertical-align:middle"><%=t('partners')%></span>
<% Partner.all.each do |partner| %>
  <a href="<%="http://"+partner.url%>" target="_blank" style="margin-right:30px;font-size:1.1em;">
    <%=partner.name%>
  </a>
<% end %>
</div>