<div class="ipacro-layout-cell layout-item-0" style="width: 42%" >
  <% if @about_image && @about_image.avatar %>
    <img alt="" width="350" height="250" src=" <%= @about_image.avatar.url %> " class="" style="margin-right: 10px; float: left;">
  <% end %>
</div>
<div class="ipacro-layout-cell layout-item-0" style="width: 58%" >
  <p>
    <% if @about_cn %>
    <%= @about_cn.truncate(200).html_safe %>
    <%end%>
  </p>
  <p align="right">
    <a href="/about" class="ipacro-button">查看全部...</a>
  </p>
</div>