<style type="text/css">
  .partners{
    width:130px;
    height:50px;
    overflow:hidden;
    float:left;
    border:solid 1px #eee;
    border-radius:5px;
    box-shadow:0 0 10px #558;
    margin:5px 10px;
  }
</style>
<div style="margin: 0px">
  <h3><%=t('partners')%></h3>
  <% Partner.all.each do |partner| %>
    <div class="partners">
      <a href="<%="http://"+partner.url%>" target="_blank" style="display:block;">
        <img src="<%= partner.avatar.url(:tile) %>" style="margin:0;padding:0;width:100%">
      </a>
    </div>
  <% end %>
</div>