<script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=hSC9HGLSdQWZfTcUxO33zh2L&v=1.0"></script>
<div data-role="main" id="thetext">
  <%= @contact_locale.html_safe %>
</div>
<div id="themap" style="height:350px;width:350px">
  <iframe scrolling="no" src="/mob_map.html" style="width:100%;height:100%"></iframe>
  <a data-role="button" data-icon="phone" data-inline="true" href="tel:01088366881"><%=t('callus')%></a>
</div>



