  <!-- 幻灯片 -->
  <%= render partial:'common/mobile/mob_slideshow' %>
  <!-- 幻灯片 完-->

  <!-- 头条 
  <div class="hot-toutiao">
    <span class="tag">头条</span>
    <a class="con" href="detail.html">
      国务院取消境外电子出版物审批 知名大作再无审批门槛
    </a>
  </div>
  头条 完 -->

  <!-- 列表 -->

  <!-- 最新资讯 -->
  <div class="title-wrap">最新资讯</div>
    <div class="list-wrap mt10">
      <a href="detail.html" class="list-row">
        <p>艾滋病有救了</p>
        <span class="list-row-more">&gt;</span>
      </a>
      <a href="detail.html" class="list-row">
        <p>癌症有救了</p>
        <span class="list-row-more">&gt;</span>
      </a>
      <a href="detail.html" class="list-row">
        <p>非典有救了</p>
        <span class="list-row-more">&gt;</span>
      </a>
      <a href="detail.html" class="list-row">
        <p>糖尿病有救了</p>
        <span class="list-row-more">&gt;</span>
      </a>
      <a href="detail.html" class="list-row">
        <p>包治百病</p>
        <span class="list-row-more">&gt;</span>
      </a>
    </div>

  <a href="list.html" class="more-box">
    查看更多<span class="more_ico"></span>
  </a>
  <!-- 最新资讯 完 -->

  <!-- 员工天地 -->
  <div class="title-wrap">最新资讯</div>
    <div class="list-wrap mt10">
      <a href="detail.html" class="list-row">
        <p>广场舞大赛结果出炉</p>
        <span class="list-row-more">&gt;</span>
      </a>
      <a href="detail.html" class="list-row">
        <p>广场舞大赛激烈角逐中</p>
        <span class="list-row-more">&gt;</span>
      </a>
      <a href="detail.html" class="list-row">
        <p>李老汉谈人生</p>
        <span class="list-row-more">&gt;</span>
      </a>
      <a href="detail.html" class="list-row">
        <p>发福利啦~</p>
        <span class="list-row-more">&gt;</span>
      </a>
      <a href="detail.html" class="list-row">
        <p>得了脚气怎么办</p>
        <span class="list-row-more">&gt;</span>
      </a>
    </div>
  <a href="list.html" class="more-box">
    查看更多<span class="more_ico"></span>
  </a>

  <!-- 员工天地 完 -->