<ul data-role="listview">
  <li data-role="divider">最新资讯</li>
    <% @items.each do |item| %>
        <li><%= link_to item.title, mobile_news_show_path(item) %></li>
      <% end %>
    </table>
    <%= paginate @items %>
</ul>

