<p>This is about!</p>

<p>
  <%= @about_en.value %>
  <%= link_to '编辑', edit_cpanel_site_config_path(@about_en) %>
</p>

<p>
  <%= @about_cn.value %>
  <%= link_to '编辑', edit_cpanel_site_config_path(@about_cn) %>
</p>

