<style type="text/css">
    ul.content >li.first{
      font-family:icomoon
    }
    #dashboard .monitor{
      float:none;
      margin:5px 30px 7px 30px ;
      display:block;
    }
  </style>
<div id="dashboard">
  <h2 class="header">e 公司简介管理</h2>
  <div class="monitor">
    <div class="clearfix">
      <ul class="content">
        <li class="first">
          e 中文简介
        </li>
        <li>&nbsp;</li>
        <li style="height:auto;overflow:hidden;font-family:icomoon">
          <%= link_to 'e 编辑首页简介', edit_cpanel_site_config_path(@about_abstract_cn),class:'submitbutton',style:'padding:10px;margin:10px' %>
          <span>………… 此内容将会显示在网站首页</span>
        </li>
        <li>&nbsp;</li>
        <li style="height:auto;overflow:hidden;font-family:icomoon">
          <%= link_to 'e 编辑公司简介', edit_cpanel_site_config_path(@about_cn),class:'submitbutton',style:'padding:10px;margin:10px' %>
          <span>………… 此内容将会显示在“关于我们”栏目</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="monitor">
    <div class="clearfix">
      <ul class="content">
        <li class="first">
          e 英文简介
        </li>
        <li>&nbsp;</li>
        <li style="height:auto;overflow:hidden;font-family:icomoon">
          <%= link_to 'e 编辑英文首页简介', edit_cpanel_site_config_path(@about_abstract_en),class:'submitbutton',style:'padding:10px;margin:10px' %>
          <span>………… 此内容将会显示在英文版网站首页</span>
        </li>
        <li>&nbsp;</li>
        <li style="height:auto;overflow:hidden;font-family:icomoon">
          <%= link_to 'e 编辑英文公司简介', edit_cpanel_site_config_path(@about_en),class:'submitbutton',class:'submitbutton',style:'padding:10px;margin:10px' %>
          <span>………… 此内容将会显示在英文版“关于我们”栏目</span>
        </li>
      </ul>
    </div>
  </div>
</div>