<div class="ipacro-postcontent ipacro-postcontent-0 clearfix">
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width:100%;height:140px;background-image:url(/images/join_us.jpg);background-size:100%;" >
      <h1 class="ipacro-headline" style="left:20px;position:relative;border-radius:10px;background:url('/images/nav.png');width:95%;transform:skew(-12deg);line-height:51px;text-indent:15px"><%=t('join_us')%></h1>
      </div>
    </div>
  </div>
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width:100%">
        <div class="layout-item-2" style="margin-top:1em;min-height:300px">
          <div style="width:500px;margin:5px auto;">
            <h2 style="text-align:center">简历提交成功</h2>
            <h2 style="text-align:center">Resume sent successfully</h2>
            <p>
              我们会尽快查看您的简历。如果您符合我们的招聘条件，我们的人力资源部门将会与您联系，以便安排面试。
              谢谢您的耐心等待！
            </p>
            <p>
              Your resume will be reviewed soon. Our Human Resource department will contact you for further interviews if your resume shows that you are suitable for this position.

              Thank you for your patience!
            </p>
            <p align="center">
              <%= link_to t('OK'), positions_path,class:"ipacro-button" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>