<footer class="ipacro-footer">
  <div class="ipacro-footer-inner">
    <div style="position:relative;display:inline-block;padding-left:42px;padding-right:42px">
      <p>
      友情链接
      <% Partner.all.each do |partner| %>
        &nbsp;|&nbsp;
        <span>
          <%= link_to partner.name, partner.url, target:"_blank" %>
        </span>
      <% end %>
        &nbsp;|
      </p>
      ICP备案号：京xxxxxxxxx
    </div>  
  </div>
</footer>