<footer class="ipacro-footer">
  <div class="ipacro-footer-inner">
    <div style="position:relative;display:inline-block;padding-left:42px;padding-right:42px">
      Copyright &copy; IPA-CRO 京ICP备15042016号
    </div>  
  </div>
</footer>