<footer class="ipacro-footer">
  <div class="ipacro-footer-inner">
    <div style="position:relative;display:inline-block;padding-left:42px;padding-right:42px">
      <a title="RSS" class="ipacro-rss-tag-icon" style="position: absolute; bottom: -10px; left: -6px; line-height: 32px;" href="#"></a>

      <p>
      友情链接
      <% Partner.all.each do |partner| %>
        &nbsp;|&nbsp;
        <span>
          <%= link_to partner.name, partner.url, target:"_blank" %>
        </span>
      <% end %>
        &nbsp;|
      </p>
    </div>  
  </div>
</footer>