<header class="ipacro-header">
  <div class="ipacro-shapes">
  </div>
  <h1 class="ipacro-headline" data-left="4.77%">
    <a href="#">信必达</a>
  </h1>
  <h2 class="ipacro-slogan" data-left="4.12%">我们口号是：没有蛀牙</h2>
</header>