<div>
  <h2 class="header">d 职位招聘管理</h2>
  <div class="monitor">
    <div class="clearfix">
      <div style="min-height:40px;line-height:40px;"> 
        <span style="margin-left:30px">当前正在招聘的职位</span>
        <span class="submitbutton" style="font-family: 'icomoon';margin-left:150px">
        <%= link_to 'q新职位',new_cpanel_position_path,style:'color:#fff;text-decoration:none;font-size:15px' %>
        </span>
      </div>
      <div style="border:1px solid rgb(235,235,235);margin: 10px 40px;border-radius:5px;overflow:hidden">
        <ul style="width:100%">
        <% @positions.each do |position| %>
          <li>
            <%= link_to position.title, edit_cpanel_position_path(position) %>
            <% if position.created_at %>
              <sub>&nbsp;&nbsp; <%= position.created_at.strftime('%Y-%m-%d') %><sub>
            <% end %>
            <span style="position: absolute;right:340px">
            <%= link_to 'X  删除', cpanel_position_path(position), method: :delete, data: { confirm: '确定要删除这条记录吗？' }, class:'submitbutton' %>
            </span>
          </li>
        <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>