<div id="tobstick" style="width:initial !important;">
  <%= form_tag positions_search_path, :method => 'get' do %>
    <%= text_field_tag :key, params[:key],type:"search", placeholder:t('Search_Positions'), size:"18",style:"margin-left:20px" %>
    <%= submit_tag t('Search'), :name => nil ,class:"ipacro-button"%>
  <% end %>
</div>
<script type="text/javascript" src="/js/togglefix.js"></script>