<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial:'common/mobile/mob_head' %>
  </head>
<body>
  <!-- 公用头部 -->
  <%= render partial:'common/mobile/mob_header' %>
  <!-- 公用头部 完 -->

  <!-- 主体部分 -->
    <%=yield%>
  <!-- 主体部分 完 -->

  <!-- 公用底部 -->
  <%= render partial:'common/mobile/mob_footer' %>
  <!-- 公用底部 完 -->

  </body>
</html>